body {
    background-color: bisque;
    border: 0.5PX SOLID BLACK;
    padding: 20px;

}

h1 {
    color: brown;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}

h3 {
    color: blue;
}


div {
    display: flex;
    background-color: aliceblue;
    border-color: rgb(115, 30, 30);
    height: 50px;
    width: 50px;
    padding: 40px;
    align-items: center;
    border: 1PX solid BLACK;
}